<div class="cart-container">
  <h1>Your Orders</h1>

  <div class="container">
    <mat-card class="cart-card" >
      <mat-card-content class="scrollable-content">
        @if (cartItems().length > 0) {
          @for (item of cartItems(); track item.foodId._id) {
            <app-checkout-item [item]="item"></app-checkout-item>
          }
        } @else {
          <p class="empty-text">Your cart is empty.</p>
        }
      </mat-card-content>
    </mat-card>

    <app-summary></app-summary>
  </div>
</div>
