:host {
  display: block;
}
.cart-container{
  padding: 100px;
}
h1{
      font-size: 5em;
    margin-bottom: 30px;
    line-height: 1.1;
    color: #024f5c;
     margin-top: 0;
}


.cart-card {
  padding: 1rem;
  width: 70%;
}


.scrollable-content {
  overflow-y: auto;
  flex: 1 1 auto;
  max-height: 100%;
  padding-right: 10px; // to avoid scrollbar overlapping content
}

/* Optional: style the scrollbar */
.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
.container{
  display: flex;
  gap: 20px
}
/* ✅ Mobile Responsive */
@media (max-width: 768px) {
  .cart-container{
    padding: 10px;
  }
  h1{
    font-size: 2em;
  }
  .container {
     display: flex;
    flex-direction: column;
  }

  .cart-card {

    width: 100%;
  }
}
