<div class="container">
  <mat-card style="  max-width: 450px !important;
  padding: 10px; background:white"  [formGroup]="signFormGroup">
    <div class="logo-container" style="max-width: 450px;">
      <img class="auth-logo" src="../../assets/trans_oran_park.png"  width='1280' height='720' />
    </div>
    <mat-card-header>
      <mat-card-title>User Login</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding-top:20px;">
      <app-ui-textbox-material [autofocus]="true" [control]="signFormGroup.controls.email" style="margin-bottom: 20px;" icon="person" label="Email" ></app-ui-textbox-material>
       <app-password  [control]="signFormGroup.controls.password"></app-password>


    @if (signFormGroup.hasError('submissionError')) {
    <mat-error>{{signFormGroup.getError("submissionError").message || 'Something went wrong. Please try again later.' }}</mat-error>
    }
    </mat-card-content>

    <div class="button-container">
        <button (click)="onSubmit()" mat-raised-button class="submit-button" color="primary">Login</button>
        <span>Don't have an account? <a mat-button [routerLink]="['/auth/register']" >Register</a></span>
    </div>

  </mat-card>
</div>


