
<mat-card class="card-menu">
  <div style="padding-left: 20px; padding-right: 20px; padding-top:20px; text-align:right">
<button mat-icon-button (click)="toggleFavourite()">
  @if (isFavourited$ | async) {
 <mat-icon style="color: red;">favorite</mat-icon>

  }@else {
     <mat-icon>favorite</mat-icon>
  }

</button>

  </div>

  <img style="padding: 20px;" mat-card-image src="../../../assets/ham.jpg" alt="{{ foodItem().name }}" />
   <mat-card-content class="card-text">
    <p class="food-name">{{ foodItem().name}}</p>
    <p class="food-price">${{ foodItem().price.toFixed(2) }}</p>

  </mat-card-content>
  <mat-card-content  class="card-text">

   <button mat-raised-button  style="background-color: #024f5c; color:#fff; width:100%" (click)="addToCart(foodItem())">Order Now</button>
  </mat-card-content>

</mat-card>
