.food-name{
  color: #024f5c;
  font-weight: 500;
  font-size: 1.4em;
}
.card-menu{
  cursor: pointer;
  background-color: #fff;
}
.food-price{
   color: #024f5c;
  font-weight: 400;
  font-size: 1.8em;
  margin-top: 10px;
}
.card-text{
  margin-top: 10px;
  margin-bottom: 10px;
}
