<div class="home-wrapper">
  <div class="text-section">
    <h1 class="text-content">So, What are you making today? 👋</h1>
    <mat-card-subtitle class="subtitle">
      It is a long established fact that a reader will be distracted by the readable content of a page
      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
      distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </mat-card-subtitle>
  </div>

  <div class="card-row">
    <mat-card class="food-card">
      <img src="../../../assets/ham.jpg" alt="Burger" />
      <mat-card-content>
        <mat-card-title>Oran Park Cheese Burger</mat-card-title>
        <p class="description">
          A juicy grilled patty with melted cheese, fresh lettuce, tomato, and our signature sauce — all on a toasted bun.
        </p>
        <div class="price">From $6.50</div>
      </mat-card-content>
    </mat-card>
     <mat-card class="food-card">
      <img src="../../../assets/ham.jpg" alt="Burger" />
      <mat-card-content>
        <mat-card-title>Oran Park Cheese Burger</mat-card-title>
        <p class="description">
          A juicy grilled patty with melted cheese, fresh lettuce, tomato, and our signature sauce — all on a toasted bun.
        </p>
        <div class="price">From $6.50</div>
      </mat-card-content>
    </mat-card>
     <mat-card class="food-card">
      <img src="../../../assets/ham.jpg" alt="Burger" />
      <mat-card-content>
        <mat-card-title>Oran Park Cheese Burger</mat-card-title>
        <p class="description">
          A juicy grilled patty with melted cheese, fresh lettuce, tomato, and our signature sauce — all on a toasted bun.
        </p>
        <div class="price">From $6.50</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card">
      <img src="../../../assets/ham.jpg" alt="Burger" />
      <mat-card-content>
        <mat-card-title>Oran Park Cheese Burger</mat-card-title>
        <p class="description">
          A juicy grilled patty with melted cheese, fresh lettuce, tomato, and our signature sauce — all on a toasted bun.
        </p>
        <div class="price">From $6.50</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
