.text-content {
  font-size: 2.5em; /* Significantly larger heading for 4K */
  margin-bottom: 30px;
  line-height: 1.1;
  color: #024f5c;
  text-align: center;
}


.home-wrapper {
  padding: 2rem;
  text-align: center;
}

.text-section {
  margin-bottom: 2rem;
}

.subtitle {
  margin-top: 1rem;
  color: #555;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-row {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(0, 400px));
  justify-content: center;
}

